* {
  font-family: 'Ubuntu', Sans-Serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  
}
.container {
  width: 100%;
  height: 100vh;
  background: palegreen;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
}
.container.active {
  filter: blur(10px);
  pointer-events: none;
}
.content {
  width: 40%;
  margin: auto;
}
.label {
  margin-bottom: 0.4rem;
  font-weight: 600;
  font-size: 1.2rem;
  display: inline-block;
}
.input {
  width: 100%;
  margin: ;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.45rem;
  border: 2px solid #000;
  border-radius: 3px;
  outline: none;
  margin-bottom: 1rem;
  display: inline-block;
}
.btn {
  display: inline-block;
  padding: 0.3rem 0.65rem;
  color: #fff;
  background: skyblue;
  text-decoration: none;
  border: 1px solid transparent;
  transition: 0.3s;
  font-size: 1.2rem;
  font-weight: 700;
}
.btn:hover {
  border: 1px solid skyblue;
  color: skyblue;
  background: transparent;
}

.main-cont {
  position: fixed;
  top: -6%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  margin: auto;
  width: 700px;
  height: 200px;
  padding: 20px;
  overflow: auto;
  background: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: 0.6s;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.main-cont .download-btn {
  background: green;
  margin-bottom: 0.6rem;
  border-radius: 3px;
}
.main-cont.active {
  visibility: visible;
  opacity: 1;
  top: 5%;
}

.main-cont p {
  text-align: justify;
  margin-bottom: 1rem;
}
.main-cont a {
  display: inline-block;
  padding: 0.3rem 0.65rem;
  color: #fff;
  background: #292929;
  text-decoration: none;
  font-weight: 500;
}

.error-cont {
  width: 500px;
  height: 360px;
  margin: auto;
  padding: 13.5px;
  background: #fff;
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 5%;
  right: 5%;
  visibility: hidden;
  transform: scale(0.4);
  transition: 0.6s;
  opacity: 0;
}
.error-cont.active {
  visibility: visible;
  transform: scale(1.2);
  opacity: 1;
}
.error-cont .img {
  width: 20%;
  height: width;
  margin: auto;
  margin-bottom: 0.7rem;
}
.error-cont .img img {
  width: 100%;
  height: 100%;
}
.error-cont h3 {
  text-align: center;
  color: red;
}
.error-cont a {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  color: #fff;
  background: #292929;
  text-decoration: none;
  margin-top: 1rem;
  margin-right: 0;
  text-align: right;
}


@media screen and (max-width: 768px) {
  .main-cont {
    width: 500px;
    height: 150px;
  }
  .error-cont {
    width: 400px;
    height: 250px;
  }
}
@media screen and (max-width: 600px) {
  .main-cont {
    width: 480px;
    height: 150px;
  }
  .error-cont {
    width: 380px;
    height: 250px;
  }
}
@media screen and (max-width: 480px) {
  .main-cont {
    width: 320px;
    height: 150px;
    padding: 10px;
  }
  .error-cont {
    width: 250px;
    height: 150px;
  }
}
@media screen and (max-width: 320px) {
  .main-cont {
    width: 220px;
    height: 150px;
    padding: 10px;
  }
  .error-cont {
    width: 150px;
    height: 120px;
  }
}
